/* semantic color variables for this project */
:root {
  --color-white: white;
  --color-background: #f0dcd2;
  --color-light-brown: #A0522D;
  --color-main-brown: #401d14;
  --color-text: #1f100b;

  --dark-gradient: radial-gradient(circle, rgba(160,82,45,1) 0%, rgba(64,29,20,0.9612219887955182) 98%);
  --light-gradient: radial-gradient(circle, rgba(240,220,210,1) 0%, rgba(232,181,156,1) 100%);;
  --shadow-photo: rgba(0, 0, 0, 0.35);
  --hover-shadow-dark: rgba(64, 29, 20, 0.35);
  --hover-shadow-light: rgba(255, 255, 255, 0.35);
}

::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  width: 0.5rem;

}

::-webkit-scrollbar-thumb {
  height: 2rem;
  background-color: var(--color-main-brown);
}

.container {
  flex: 1 1 auto;
}


body {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.875rem;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  transition: color 0.5s, background-color 0.5s;
  color: var(--color-text);
}

a {
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--color-main-brown);
  transition: 0.3s all ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: var(--color-light-brown);
  border: none;
  outline: none;
}

.material-icons {
  padding: 0.5rem;
  cursor: pointer;
}


/* Reset styles */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}

button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}