body.dark .cafe__gallery {
  background: var(--color-main-brown);
  color: var(--color-background);
}
body.dark .cafe__cide-holder,
body.dark .cafe__central-holder {
    color: var(--color-background);
}

/* cafes styles */
.cafe__wrapper {
    margin: 2rem;
}
.cafe__container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}
.cafe__photo-wrap {
    height: 35rem;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cafe__img-shadow {
    background-color: var(--shadow-photo);
    height: 35rem;
}

.cafe__cide-holder{
    width: 45%;
    padding: 2rem;
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
    align-content: center;
}
.cafe__title {
    grid-row: 1;
    grid-column: 1;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 2px var(--color-light-brown) solid;
}
.cafe_contacts {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    font-weight: bold;
}
.cafe_contact-address,
.cafe_contact-telefone,
.cafe__contact-work-hour {
    display: flex;
    align-items: center;
}

.cafe_google-info {
    grid-row: 2;
    grid-column: 1;
    font-weight: bold;
}
.cafe_rating {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}
.cafe_price {
    display: flex;
    align-items: center; 
}
.cafe_social {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    border-top: 2px var(--color-light-brown) solid;
}
.cafe__social-link {
    
    outline: none;
    padding-bottom: 5px;
    cursor: pointer;
}
.cafe__social-link:hover{
    color: var(--color-light-brown);
}

.text-holder {
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    padding-left: 0.5rem;
}
.inactive-link {
    color: grey; 
    pointer-events: none; 
    text-decoration: none;
}

.cafe__central-holder {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    color: var(--color-main-brown);
}

.central-holder__description {
    width: 60%;
    height: auto;
    padding: 1rem;
}

.description__title,
.comments__title {
    margin: 2rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.description__subtitle {
    text-align: justify;
}

.central-holder__comments {
    width: 35%;
    height: auto;
    margin-right: 3rem;
    padding: 1rem;
    color: var(--color-background);
    background: var(--dark-gradient);
}

.nav-bar {
    margin-top: 1rem;
    background: var(--dark-gradient);
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin: 1rem;
    background: transparent;
}

/* ------Adaptive styles----- */
@media(max-width: 48rem) {
    .cafe-photo-wrap {
        flex-direction: column;
    }

    .cafe__img-holder {
        width: 100%;
    }

    .cafe__central-holder {
        flex-direction: column;
        margin: 2rem 0;
    }

    .central-holder__comments {
        width: 100%;
    }

    .central-holder__description {
        width: 100%;
    }
}

@media(max-width: 40rem) {
    .cafe__wrapper {
        margin: 1rem 1.5rem 1rem 2rem;
      }
    .nav-item {
        margin: 0.5rem;
        font-size: 0.65em;
    }

    .button {
        padding: 0.5rem;
        letter-spacing: 1px;
    }
}

@media(max-width: 28rem) {
    .cafe__wrapper {
        margin: 1rem 1.5rem;
      }
    .cafe__img-holder {
        height: 25rem;
    }
    .cafe__main-img {
        height: 25rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .cide__rating,
    .cide__price {
        margin: 0rem;
        font-size: small;
    }
    .description__title, 
    .comments__title {
        margin: 1rem 0;
    }
    .nav-bar {
        flex-direction: column;
    }
}

@media(max-width: 20rem) {
    .cafe__wrapper {
        margin: 1rem;
    }
       
    .cide__wrapper {
        align-items: center;
    }

    .cide__title {
        font-size: 2rem;
        line-height: 1rem;
        margin: 2rem auto;
    }
    .addres-holder {
        text-align: center;
    }
    .cide__bar {
        font-size: medium;
        margin-bottom: 1rem;
        align-items: center;
    }
    .icon-holder {
        font-size: 1rem;
    }
    .cafe__link {
        font-size: medium;
    }
    .central-holder__comments {
        margin-right: 0;
        padding: 1rem;
        font-size: medium;
    }
    
    .description__subtitle {
        font-size: medium;
    }

    .gallery__title {
        font-size: 1.5rem;
        padding: 1rem;
    }
}