/* json bannerImgClass for cafes */
/* franyk */
.rosteria {
  background-image: url('./img/franyk/rosteria/main-rosteria-cavy.jpg');
}

.urban {
  background-image: url('./img/franyk/urban/urbanMain.jpeg');
}

.delikacia {
  background-image: url('./img/franyk/delikacia/delikaciaMain.jpg');
}

.kurzeme {
  background-image: url('./img/franyk/kurzeme/kurzemeMain.jpg');
}

.milkPink {
  background-image: url('./img/franyk/milk&pink/milkPinkMain.png');
}

.manufactura {
  background-image: url('./img/franyk/manufactura/manufacturaMain.jpg');
}


/* cherkasy */
.fabrykaRosteria {
  background-image: url('./img/cherkasy/fabryka/fabrykaMain.jpg');
  background-position: center center;
}

.endorfin {
  background-image: url('./img/cherkasy/endorfin/endorfinMain.jpg');
  background-position: center center;
}

.shocolad {
  background-image: url('./img/cherkasy/shocoladu/shocoladMain.webp');
}

/* kyiv */
.zavertaylo {
  background-image: url('./img/kyiv/zavertailo/zavertayloMain.jpg');
  background-position: 60% 40%;
}

.yaroslava {
  background-image: url('./img/kyiv/yaroslava/main.jpg');
}

.osmantus {
  background-image: url('./img/kyiv/osmantus/osmantusMain.jpg');
}

.halva {
  background-image: url('./img/kyiv/halva/halvaMain.jpg');
  background-position: 30% 70%;
}

.idealist {
  background-image: url('./img/kyiv/idealist/idealistMain.jpg');
}


/* lviv */
.pyets {
  background-image: url('./img/lviv/pyets/pyetsMain.jpg');
}

.virmenka {
  background-image: url('./img/lviv/virmenka/virmenka.jpg');
  background-position: 50% 50%;

}

.code {
  background-image: url('./img/lviv/code/codeMain.jpg');
  background-position: 40% 60%;
}

.cheeseBakery {
  background-image: url('./img/lviv/cheeseBakery/cheeseBakeryMain.jpg');
  background-position: 40% 60%;
}

.blackHoney {
  background-image: url('./img/lviv/blackHoney/blackHoney1.jpg');
  background-position: 50% 50%;
}


/* odesa */
.minimalist {
  background-image: url('./img/odesa/minimalist/minimalist.jpg');
  background-position: 50% 50%;
}

.foundation {
  background-image: url('./img/odesa/foundation/foundation.jpg');
  background-position: 50% 50%;
}

.atelier {
  background-image: url('./img/odesa/atelier/atelier1.jpg');
  background-position: 50% 50%;
}

.coffeeocean {
  background-image: url('./img/odesa/coffeeocean/coffeeocean.jpg');
}

.zheto {
  background-image: url('./img/odesa/zheto/zheto.jpg');
  background-position: 50% 50%;
}

.makemycake {
  background-image: url('./img/odesa/makemycake/makemycake.jpg');
  background-position: 25% 75%;
}