.article-block-filter {
  margin: 5rem 2rem 0rem 2rem;
  padding: 1rem;
  background: var(--dark-gradient);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.active {
  background-color: var(--hover-shadow-light);
  border: 1px solid var(--color-background);
  color: var(--color-main-brown);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.filter {
}
.dropdown-btn {
}

.dropdown-content {
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: var(--color-text);
  z-index: 10;
}
.price {
}
.dropdown-item {
  padding: 1rem;
  text-align: center;
  width: 100%;
  color: var(--color-background);
}

.dropdown-content button:hover {
  color: var(--color-light-brown);
}
.article-block-cafes {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-wrapper {
  /* height: 50rem; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.article-wrapper:nth-child(4n-3) {
  background: var(--light-gradient);
}

.article-wrapper:nth-child(4n-2) {
  background: var(--dark-gradient);
}

.article-wrapper:nth-child(4n-1) {
  background: var(--dark-gradient);
}

.article-wrapper:nth-child(4n) {
  background: var(--light-gradient);
}

.article__link-holder {
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 10%;
}

.article-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30rem;
  width: 100%;
  color: var(--color-background);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.article-text {
  color: var(--color-main-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-description {
  margin: 1.5rem 0;
  text-align: justify;
  color: var(--color-background);

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.article-wrapper:nth-child(4n) .article-description,
.article-wrapper:nth-child(4n-3) .article-description {
  color: var(--color-main-brown);
}

/* article buttons */
.article-wrapper:nth-child(4n-3) .button,
.article-wrapper:nth-child(4n) .button {
  color: var(--color-main-brown);
  border: 1px solid var(--color-main-brown);
}

.article-wrapper:nth-child(4n-3) .button:hover,
.article-wrapper:nth-child(4n) .button:hover {
  background-color: rgba(64, 29, 20, 0.35);
  border: 1px solid var(--color-main-brown);
  color: var(--color-white);
}


/* addaptive styles */

@media (max-width: 50rem) {
  .article-block-cafes {
    display: flex;
    flex-direction: column;
  }

  .article-wrapper {
    width: 100%;
    padding: 1rem;
  }

  .article-wrapper:nth-child(4n-3),
  .article-wrapper:nth-child(4n-1) {
    background: var(--light-gradient);
  }

  .article-wrapper:nth-child(4n-2),
  .article-wrapper:nth-child(4n) {
    background: var(--dark-gradient);
  }

  .article-wrapper:nth-child(4n) .article-description,
  .article-wrapper:nth-child(4n-2) .article-description {
    color: var(--color-background);
  }

  .article-wrapper:nth-child(4n-1) .article-description,
  .article-wrapper:nth-child(4n-3) .article-description {
    color: var(--color-main-brown);
  }

  /* article buttons */
  .article-wrapper:nth-child(4n-3) .button,
  .article-wrapper:nth-child(4n-1) .button {
    color: var(--color-main-brown);
    border: 1px solid var(--color-main-brown);
  }

  .article-wrapper:nth-child(4n) .button,
  .article-wrapper:nth-child(4n-2) .button {
    color: var(--color-background);
    border: 1px solid var(--color-background);
  }

  .article-wrapper:nth-child(4n-3) .button:hover,
  .article-wrapper:nth-child(4n-1) .button:hover {
    background-color: var(--hover-shadow-dark);
    color: var(--color-white);
  }

  .article-wrapper:nth-child(4n) .button:hover,
  .article-wrapper:nth-child(4n-2) .button:hover {
    background-color: var(--hover-shadow-light);
    color: var(--color-main-brown);
  }
  .city-map-wrap {
    width: 92%;
  }
  .article-name {
    font-size: 2em;
    line-height: 2rem;
    padding: 0 1rem;
  }

}
@media (max-width: 40rem) {
  .article-block-filter {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dropdown {
    margin: 0.5rem;
  }
}
@media (max-width: 28rem) {
  /* .article-block-cafes {
    padding: 4rem 0 0;
  } */
  .article-block-filter {
    margin: 5rem 1rem 0rem 1rem;
    padding: 0.5rem;
  }
  
  .article-block-cafes {
    padding: 1rem;
  }
  .article__link-holder {
    height: 15rem;
  }

  .article-name {
    height: 15rem;
    font-size: 1.5em;
    /* line-height: 2rem;
    padding: 0 1rem; */
  }

  .article-description {
    font-size: 0.8em;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
  .dropdown-item {
    padding: 0.5rem;
    font-size: medium;
  }
  .dropdown-btn, .filter {
    padding: 0.5rem;
  }
}