/* json bannerImgClass for cafes */
/* franyk */
.rosteria {
  background-image: url('./img/franyk/rosteria/main-rosteria-cavy.jpg');
}

.urban {
  background-image: url('./img/franyk/urban/urbanMain.jpeg');
}

.delikacia {
  background-image: url('./img/franyk/delikacia/delikaciaMain.jpg');
}

.kurzeme {
  background-image: url('./img/franyk/kurzeme/kurzemeMain.jpg');
}

.milkPink {
  background-image: url('./img/franyk/milk&pink/milkPinkMain.png');
}

.manufactura {
  background-image: url('./img/franyk/manufactura/manufacturaMain.jpg');
}


/* cherkasy */
.fabrykaRosteria {
  background-image: url('./img/cherkasy/fabryka/fabrykaMain.jpg');
  background-position: center center;
}

.endorfin {
  background-image: url('./img/cherkasy/endorfin/endorfinMain.jpg');
  background-position: center center;
}

.shocolad {
  background-image: url('./img/cherkasy/shocoladu/shocoladMain.jpg');
}

/* .argoelf {
    background-image: url('./img/cherkasy/argoelf/argoelfMain.jpg');
}

.morrisSpace {
    background-image: url('./img/cherkasy/morris/morris2.jpg');
    background-position: center center;
} */


/* kyiv */
.zavertaylo {
  background-image: url('./img/kyiv/zavertailo/zavertayloMain.jpg');
  background-position: 60% 40%;
}

.yaroslava {
  background-image: url('./img/kyiv/yaroslava/main.jpg');
}

.osmantus {
  background-image: url('./img/kyiv/osmantus/osmantusMain.jpg');
}

.halva {
  background-image: url('./img/kyiv/halva/halvaMain.jpg');
  background-position: 30% 70%;
}

.idealist {
  background-image: url('./img/kyiv/idealist/idealistMain.jpg');
}


/* lviv */
.pyets {
  background-image: url('./img/lviv/pyets/pyets2.jpg');
}

.yerusalym {
  background-image: url('./img/lviv/yerusalym/yerusalym.jpg');

}

.fazetka {
  background-image: url('./img/lviv/fazetka/fazetka.jpg');
}

.code {
  background-image: url('./img/lviv/code/code.jpg');
  background-position: 40% 60%;
}

.cheeseBakery {
  background-image: url('./img/lviv/cheeseBakery/cheeseBakery2.jpg');
  background-position: 50% 50%;
}

.blackHoney {
  background-image: url('./img/lviv/blackHoney/blackHoney1.jpg');
  background-position: 50% 50%;
}


/* odesa */
.minimalist {
  background-image: url('./img/odesa/minimalist/minimalist.jpg');
  background-position: 50% 50%;
}

.foundation {
  background-image: url('./img/odesa/foundation/foundation.jpg');
  background-position: 50% 50%;
}

.atelier {
  background-image: url('./img/odesa/atelier/atelier1.jpg');
  background-position: 50% 50%;
}

.coffeeocean {
  background-image: url('./img/odesa/coffeeocean/coffeeocean.jpg');
}

.zheto {
  background-image: url('./img/odesa/zheto/zheto.jpg');
  background-position: 50% 50%;
}

.makemycake {
  background-image: url('./img/odesa/makemycake/makemycake.jpg');
  background-position: 25% 75%;
}


.article-block-filter {
  margin-top: 1rem;
  background: var(--dark-gradient);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 5rem;
}



.article-block-cafes {
  padding: 4.5rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-wrapper {
  height: 50rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.article-wrapper:nth-child(4n-3) {
  background: var(--light-gradient);
}

.article-wrapper:nth-child(4n-2) {
  background: var(--dark-gradient);
}

.article-wrapper:nth-child(4n-1) {
  background: var(--dark-gradient);
}

.article-wrapper:nth-child(4n) {
  background: var(--light-gradient);
}

.article__link-holder {
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 10%;
}

.article-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30rem;
  width: 100%;
  color: var(--color-background);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.article-text {
  color: var(--color-main-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-description {
  margin: 1.5rem 0;
  text-align: justify;
  color: var(--color-background);

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.article-wrapper:nth-child(4n) .article-description,
.article-wrapper:nth-child(4n-3) .article-description {
  color: var(--color-main-brown);
}

/* article buttons */
.article-wrapper:nth-child(4n-3) .button,
.article-wrapper:nth-child(4n) .button {
  color: var(--color-main-brown);
  border: 1px solid var(--color-main-brown);
}

.article-wrapper:nth-child(4n-3) .button:hover,
.article-wrapper:nth-child(4n) .button:hover {
  background-color: rgba(64, 29, 20, 0.35);
  border: 1px solid var(--color-main-brown);
  color: var(--color-white);
}

/* addaptive styles */
@media (max-width: 48rem) {
  .article-block-cafes {
    display: flex;
    flex-direction: column;
  }

  .article-wrapper {
    width: 100%;
    padding: 2rem;
  }

  .article-wrapper:nth-child(4n-3),
  .article-wrapper:nth-child(4n-1) {
    background: var(--light-gradient);
  }

  .article-wrapper:nth-child(4n-2),
  .article-wrapper:nth-child(4n) {
    background: var(--dark-gradient);
  }

  .article-wrapper:nth-child(4n) .article-description,
  .article-wrapper:nth-child(4n-2) .article-description {
    color: var(--color-background);
  }

  .article-wrapper:nth-child(4n-1) .article-description,
  .article-wrapper:nth-child(4n-3) .article-description {
    color: var(--color-main-brown);
  }

  /* article buttons */
  .article-wrapper:nth-child(4n-3) .button,
  .article-wrapper:nth-child(4n-1) .button {
    color: var(--color-main-brown);
    border: 1px solid var(--color-main-brown);
  }

  .article-wrapper:nth-child(4n) .button,
  .article-wrapper:nth-child(4n-2) .button {
    color: var(--color-background);
    border: 1px solid var(--color-background);
  }

  .article-wrapper:nth-child(4n-3) .button:hover,
  .article-wrapper:nth-child(4n-1) .button:hover {
    background-color: var(--hover-shadow-dark);
    color: var(--color-white);
  }

  .article-wrapper:nth-child(4n) .button:hover,
  .article-wrapper:nth-child(4n-2) .button:hover {
    background-color: var(--hover-shadow-light);
    color: var(--color-main-brown);
  }
}

@media (max-width: 28rem) {
  .article-block-cafes {
    padding: 4rem 0 0;
  }

  .article__link-holder {
    height: 20rem;
  }

  .article-name {
    height: 20rem;
    font-size: 2rem;
    line-height: 2rem;
  }

  .article-description {
    font-size: medium;
  }
}