body.dark .cafe__gallery {
    background: var(--color-main-brown);
    color: var(--color-background);
}

body.dark .cafe__cide-holder,
body.dark .cafe__central-holder {
    color: var(--color-background);
}

.main-content .error {
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.main-content .loader {
    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: brown;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* loader css animation */
.cup {
    z-index: 5;
    position: relative;
    width: 6rem;
    height: 4rem;
    border: 3px solid var(--color-main-brown);
    border-radius: 6px 6px 20px 20px;
    background: url(../assets/img/coffee.png);
    background-position: 0 130px;
    background-repeat: repeat-x;
    animation: filling 3s infinite;
}

.cup .cup-handle {
    position: absolute;
    top: 2px;
    right: -25px;
    width: 1.5rem;
    height: 2rem;
    border: 3px solid var(--color-main-brown);
    border-radius: 10px 5px 20px 10px;
}

@keyframes filling {

    0%,
    100% {
        background-position: 0 130px;
    }

    50% {
        background-position: 600px -70px;
    }
}

.cup .steam {
    position: absolute;
    border-radius: 10px 2px;
    width: 6px;
    animation: steaming 2s infinite;
}

.cup .steam:nth-child(1) {
    top: -50px;
    left: 20px;
    height: 20px;
    background: var(--color-background);
    animation-delay: 0.2s;
}

.cup .steam:nth-child(2) {
    top: -90px;
    left: 45px;
    height: 40px;
    background: var(--color-background);
    animation-delay: 0.6s;
}

.cup .steam:nth-child(3) {
    top: -60px;
    left: 70px;
    height: 30px;
    background: var(--color-background);
    animation-delay: 1s;
}

@keyframes steaming {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        filter: blur(0.05rem);
        transform: translateY(-10px);
    }
}

/* cafes styles */
.cafe__wrapper {
    margin: 2rem;
}

.cafe__container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.cafe__photo-wrap {
    height: auto;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cafe__cide-holder {
    width: 45%;
    padding: 0 0 0 2rem;
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
    align-content: center;
}

.cafe__title {
    grid-row: 1;
    grid-column: 1;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 2px var(--color-light-brown) solid;
}

.cafe_contacts {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    font-weight: bold;
}

.cafe_contact-address,
.cafe_contact-telefone,
.cafe__contact-work-hour {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cafe_google-info {
    grid-row: 2;
    grid-column: 1;
    font-weight: bold;
}

.cafe_rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
}

.cafe_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cafe_social {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    border-top: 2px var(--color-light-brown) solid;
}

.cafe__social-link {
    outline: none;
    padding-bottom: 5px;
    cursor: pointer;
}

.cafe__social-link:hover {
    color: var(--color-light-brown);
}

.text-holder {
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    padding-left: 0.5rem;
}

.inactive-link {
    color: grey;
    pointer-events: none;
    text-decoration: none;
}

.cafe__central-holder {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    color: var(--color-main-brown);
}

.central-holder__description {
    width: 60%;
    height: auto;
    padding: 1rem;
}

.description__title,
.comments__title {
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.description__subtitle {
    text-align: justify;
}

.central-holder__comments {
    width: 35%;
    height: auto;
    margin-right: 3rem;
    padding: 1rem;
    color: var(--color-background);
    background: var(--dark-gradient);
}

.nav-bar {
    margin-top: 2rem;
    background: var(--dark-gradient);
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin: 1rem;
    /* background: transparent; */
    padding: 1rem;
    letter-spacing: 2px;
    font-size: 1rem;
}

/* ------Adaptive styles----- */
@media(max-width: 48rem) {
    .cafe__photo-wrap {
        width: 50%;
    }

    .cafe__cide-holder {
        width: 50%;
    }

    .cafe__img-holder {
        width: 100%;
    }

    .cafe__central-holder {
        flex-direction: column;
        margin: 1rem 0;
    }

    .central-holder__comments {
        width: 100%;
    }

    .central-holder__description {
        width: 100%;
    }

    .nav-item {
        padding: 1rem;
        margin: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}

@media(max-width: 40rem) {
    .cafe__wrapper {
        margin: 1rem 2rem;
    }

    .cafe__container {
        flex-direction: column;
        margin-top: 4rem;
    }

    .cafe__photo-wrap {
        height: 20rem;
        width: 100%;

    }

    .cafe__cide-holder {
        width: 100%;
        padding: 1rem 0;
    }

    .nav-bar {
        flex-direction: column;
    }

    .description__title,
    .comments__title {
        padding: 1rem 0;
    }

}

@media(max-width: 28rem) {
    .cafe__wrapper {
        margin: 1rem;
    }

    .cafe__title {
        font-size: 2rem;
        line-height: 2rem;
    }

    .cafe__cide-holder {
        padding: 1rem 0;
        gap: 1rem;
    }

    .cafe_contacts {
        grid-gap: 1rem;
    }

    .nav-item {
        padding: 0.5rem;
        line-height: 1rem;
    }
}

@media(max-width: 20rem) {
    .cafe__wrapper {
        margin: 1rem;
        line-height: 1.5rem;
    }

    .cafe__cide-holder {
        padding: 0.5rem 0;
        gap: 0.5rem;
    }
    .cafe_contacts {
        grid-gap: 0.5rem;
    }

    .cafe_rating {
        padding-bottom: 0.5rem;
    }
    .cafe__central-holder {
        margin: 0.5rem 0;
    }
    .central-holder__comments {
        margin-right: 0;
        padding: 1rem;
    }
    .description__title, .comments__title {
        padding: 0.5rem 0;
    }
    .cafe__link,
    .central-holder__comments,
    .description__subtitle {
        font-size: 0.8em;
        line-height: 1.5rem;
    }
}