/*City Pages styles*/
.photo-city-wrap {
    position: relative;
    height: 40rem;
    width: 100%;   
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
.franyk {
    background-image: url('./img/Franyk/ivano-frankivsk.jpg'); 
}
.kyiv {
    background-image: url('./img/Kyiv/kyiv-main-photo.jpg');
}
.lviv {
    background-image: url('./img/lviv/lviv-main-photo.jpg');
}
.cherkasy {
    background-image: url('./img/cherkasy/blue-palace.jpg');
    background-position: 85% 15%;
}


.city__img-holder {
    background-color: rgba(0, 0, 0, 0.6);
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-background);
}
.city__header {
    font-size: 3em;
    font-weight: 700;
    margin: 3vw 0;
    text-align: center;
}
.city__text-wrap {
    max-width: 60rem;
    margin: 3vw ;
    text-align: center;
}
.desctiption-text-wrap {
    text-align: center;
    margin: 2rem;
}
@media(max-width: 20rem) {
    .city__header {
        font-size: 2em;
        font-weight: 700;
        margin: 1.5vw 0;
    }
    .city__text-wrap {
        max-width: 60rem;
        margin: 2vw ;
    }
   
}