/*City Pages styles*/
.photo-city-wrap {
    position: relative;
    height: 30rem;
    width: 100%;
}
.city__img-holder {
    background-color: var(--shadow-photo);
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-background);
}





.city__header {
    font-size: 3em;
    font-weight: 700;
    margin: 3vw 0;
    text-align: center;
}

.city__text-wrap {
    margin: 2rem;
    text-align: center;
}

.desctiption-text-wrap {
    text-align: center;
    margin: 2rem;
}

.city-info-wrap {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.city-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 5rem;
}


.franyk {
    background-image: url('./img/franyk/ivano-frankivsk.jpg');
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.kyiv {
    background-image: url('./img/kyiv/kyiv-main-photo.jpg');
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.lviv {
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/lviv/lviv-main-photo.jpg');
}

.cherkasy {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/cherkasy/blue-palace.jpg');
    background-position: 85% 15%;
}
.odesa {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/odesa/Odesa3.jpg');
    background-position: 90% 10%;
}


.logo-franyk {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/franyk/logo_if.png');
}

.logo-kyiv {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/kyiv/logo-kyiv.png');
}

.logo-cherkasy {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/cherkasy/logo_cherkasy.png');
}

.logo-lviv {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/lviv/logo_lviv.png');
}

.logo-odesa {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/odesa/logo-odesa.png');
}


@media(max-width: 40rem) {
    .city__img-holder {
        height: 25rem;
    }
    .photo-city-wrap {
        height: 25rem;
    }

    .city__header {
        font-size: 2.5em;
        margin: 5rem 0 2rem;
    }

    .city__text-wrap {
        margin: 1.5rem;
    }
}
@media(max-width: 20rem) {
    .city__header {
        font-size: 2em;
        margin: 5rem 0 0;
    }
    .city__text-wrap {
        font-size: 0.8em;
        margin: 1rem;
    }
    .city-info-item {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}