/* footer style */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: 6rem;
    margin: 1rem 2rem;
}
.footer_copyright {
    text-align: justify;
    margin-right: 2rem;
}
.footer_box {
    display: flex;
    flex-direction: column;
}
.footer_made-by {
    text-align: justify;
    margin-right: 2rem;
}

.footer-anchor {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 0.5rem;
}

/* swich theme button */
.mode-toggle {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px var(--color-main-brown) solid;
    outline: 0;
    z-index: 2;
    transition: all 0.5s ease;
}

.hidden {
    display: none;
}

.toggle-icon {
    padding: 0.5rem;
    transition: all 0.5s ease;
}

body.dark .mode-toggle {
    border: 1px var(--color-background) solid;
}



@media(max-width: 48rem) {
    .footer {
        font-size: 1rem;
        line-height: 1rem;
        align-items: center;
    }
    .footer-anchor {
        font-size: 1rem;
    }
    .footer_made-by {
        margin-top: 0.5rem;
    }
}