/* -----Gallery styles----- */
.cafe__gallery {
    background-color: var(--color-background);
}

.gallery__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem 1rem 1rem;
}

.gallery__holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.img-holder {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: 0.2s;
}

.img-holder:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* LIGHTBOX STYLES */

.modal {
    position: fixed;
    z-index: 55;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
}

.modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.mySlides {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mySlides__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.modal__info-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    color: var(--color-background);
    z-index: 60;
}

.numbertext {
    font-size: 12px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}

.close {
    font-weight: bold;
    font-size: 2rem;
    padding: 0 1rem;
    transition: 0.2s ease;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 55;
}

.close:hover,
.close:focus {
    color: var(--color-main-brown);
    text-decoration: none;
    cursor: pointer;
}

/* Next & previous buttons */
.mySlides__navButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--color-background);
    border: 1px solid var(--color-background);
    background-color: var(--hover-shadow-dark);
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.mySlides__navButton:hover {
    background-color: var(--hover-shadow-light);
    color: var(--color-text);
}

.mySlides__navButton:disabled {
    opacity: 0.4;
}
