/* header styles */
.header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: var(--header-height);
    width: 100%;
    z-index: 50;
    background-color: var(--color-text);
    opacity: 0.85;
    text-transform: uppercase;
}

.header__home {
    text-transform: uppercase;
    color: var(--color-background);
    font-weight: bold;
}

.header__text-wrapper {
    display: flex;
    align-items: center;
    margin: -1rem;
}

.header__item {
    padding: 1rem;
    color: var(--color-background);
    font-weight: bold;
}

/*------- burger -------*/

.header__burger {
    display: none;
}

.header__item:hover,
.header__burger:hover {
    color: var(--color-light-brown);
}

.humburger__line {
    width: 2.5rem;
    height: 4px;
    background-color: var(--color-background);
    display: block;
    margin: 5px auto;
    transition: all 500ms ease-in-out;
}

.header__burger .visible span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.header__burger .visible span:nth-child(2) {
    opacity: 0;
}

.header__burger .visible span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.header__nav-menu {
    position: absolute;
    overflow: auto;
    z-index: 15;
    top: 4rem;
    right: 2rem;
    width: 15rem;
    background-color: var(--color-main-brown);
    transition: 0.3s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu-item {
    color: var(--color-background);
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    text-align: center;
    transition: 0.3s all ease-in-out;
}

.nav-menu-item:hover {
    color: var(--color-light-brown);
}


@media(max-width: 40rem) {
    .header__wrapper {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .header__item {
        display: none;
    }

    .header__burger {
        display: block;
    }

}

@media(max-width: 28rem) {
    .header__wrapper {
        line-height: 1rem;
        padding: 1rem;
    }

    .header__nav-menu {
        right: 1rem;
        width: 10rem;
    }
    .header__logo {
        margin-left: 0rem;
    }
    .header__burger {
        padding: 0rem;
      }
}