/* header styles */
.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    position: fixed;
    height: 4rem;
    width: 100vw;
    z-index: 50;
    background-color: var(--color-white);
    text-transform: uppercase;
}
.header__logo {
    padding-left: 2rem;
}
.nav-menu {
    border: none;
    text-transform: uppercase;
    color: var(--color-main-brown);
    font-weight: bold;
    background-color: var(--color-white);
}
.header__nav-menu {
    background: linear-gradient(180deg, white 0%, #ddd1c5  100%);
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 15;
}
.header__nav-menu li {
    font-weight: bolder;
    color: var(--color-main-brown);
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
}
.header__nav-menu li:hover {
    background-color: var(--color-background);
}
.header__logo:hover .header__nav-menu {
    display: block;
}
.header__text-wrapper {
    display: flex;
    align-items: center;
}
.header__item {
    padding: 1rem;
    color: var(--color-main-brown);
    font-weight: bold;
}
.burger-menu__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    appearance: none;
}
.burger-menu__label {
    display: block;
    cursor: pointer;
    border: solid 2px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    padding: 0.5rem;
}
.burger-menu__input:checked ~ .burger-menu-wrapper {
    display: block;
}
.burger-menu-wrapper {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 15;
    top: 6rem;
    right: 1rem;
    width: 20rem;
    box-shadow: 0 7px 15px -10px #4f4f4f;
    background-color: var(--color-white);
    transition: 0.3s all ease-in-out;
}
.nav-menu-item > a {
    font-weight: bold;
}
.nav-menu-item {
    padding: 1rem;
    width: 100%;
    text-align: center;
    transition: 0.3s all ease-in-out;
}
.nav-menu-item:hover {
    background-color: var(--color-background);   
}

/* .cities {}

.cafes {}

.burger-menu {}

.dark-theme {}

.language {} */

@media(max-width: 40rem) {
    
}