/* header styles */
.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 50;
    background-color: var(--color-white);
    text-transform: uppercase;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-main-brown);
    font-weight: bold;
    margin-left: 2rem;
}
.header__text-wrapper {
    display: flex;
    align-items: center;
}
.header__item {
    padding: 1rem;
    color: var(--color-main-brown);
    font-weight: bold;
}
.cities {
}
.cafes {
}
.burger-menu {
}
.dark-theme {
}
.language {
}

.burger-menu__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    appearance: none;
}
.burger-menu__label {
    display: block;
    cursor: pointer;
    border: solid 2px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    padding: 0.5rem;
}
.burger-menu__input:checked ~ .burger-menu-wrapper {
    display: block;
}
.burger-menu-wrapper {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 10;
    top: 6rem;
    right: 1rem;
    width: 20rem;
    box-shadow: 0 7px 15px -10px #4f4f4f;
    background-color: var(--color-white);
    transition: 0.3s all ease-in-out;
}
.header__nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.nav-menu-item > a {
    font-weight: bold;
}
.nav-menu-item {
    padding: 1rem;
    width: 100%;
    text-align: center;
    transition: 0.3s all ease-in-out;
}
.nav-menu-item:hover {
    background-color: var(--color-background);   
}