/* home page */
.main-photo-wrap {
    position: relative;
    height: 45rem;
    width: 100%;
    background-image: url('./img/HomePage/main-photo.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--color-background);
}
.main-box-img {
    background-color: rgba(14, 13, 12, 0.364);
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.main-heading {
    margin-bottom: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    font-weight: 600;
    line-height: 3rem;
}
.sub {
    color: var(--color-background);
    font-style: italic;
}
.introduction-block {
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: 1.4em;
    line-height: 3rem;
    text-align: center;
    margin: 5vw;
}
.introduction-header {
    margin: 5vw 0;
    font-weight: 700;
    text-align: center;
}
.introduction-text-wrap {
    text-align: center;
}
.wrapper {
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.city__wrapper {
    color: var(--color-white);
    background-color: #77442E;
    background: linear-gradient(180deg, #805743 0%,  #4B2F21 100%);    
}
.city__text-block,
.cafes__text-block {
    width: 50%;
    padding: 3.125rem;
}
.city-description {
    text-align: justify;
    margin: 2vw 0;
}
.photo-img-block {
    width: 50%;
    height: 100%;
}
.coffee-img{
    background-image: url('./img/HomePage/cities-link.jpg') ;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.cafes__wrapper {
    background-color: var(--color-background);
    background: linear-gradient(255deg,#efd6be 0%, white 100%);
    color: var(--color-main-brown);
}
.cafes-img {
    background-image: url('./img/HomePage/cafes-link.jpg') ;
    background-size: cover;
    background-position:  30% 70% ;
    height: 100%;
}
.button-wrapper {
    margin: 1.5rem 2rem;
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: 5px;
    transition: 0.2s ease-in-out;
    color: var(--color-background);
    border: 1px solid var(--color-background);
}
.button:hover {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid var(--color-background);
    color: var(--color-main-brown);
}
.dark-button {
    color: var(--color-main-brown);
    border: 1px solid var(--color-main-brown);
}

.dark-button:hover {
    background-color: rgba(75, 38, 14, 0.35);
    border: 1px solid var(--color-main-brown);
}
@media(max-width: 48rem) {
    .city__wrapper,
    .cafes__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .city__text-block,
    .cafes__text-block {
        width: 100%;
        padding: 2rem;
    }
    .city-description {
        text-align: justify;
        margin: 2vw 0;
    }
    .photo-img-block {
        width: 100%;
        height: 50vh;
    }
    .introduction-block {
        font-size: 1em;
        line-height: 2.5rem;
        margin: 3vw;
    }
    .button {
        font-size: medium;
        padding: 15px;
        letter-spacing: 3px;
    }
}